.main {
    background: url("../../assets/images/main/bg.jpeg") no-repeat;
    position: relative;
    background-size: cover;
}

.main::after {
    content: "";
    position: absolute;
    background: #0e6397;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.main .texts {
    position: relative;
    z-index: 10;
}

.main h1 {
    font-size: 55.44px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 58px;
}

.main h1 span {
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 3px solid #ffae00;
}

.main h3 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 20px;
}

.main button {
    background-color: #ffae00;
    padding: 12px 50px;
    color: #ffffff;
    font-size: 20px;
    margin-top: 40px;
}

@media (max-width: 992px) {
    .main h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .main h3 {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .main h1 {
        font-size: 24px;
        line-height: 40px;
    }

    .main h3 {
        font-size: 16px;
    }
}

.main button {
    background-color: #ffae00;
    padding: 10px 40px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 40px;
}
